/* Esto es el queries para el header  */
@media (max-width: 667px) {
  .logo {
    width: 50%;
    height: 50%;
  }
}

/* Esto es el queries para el navbar  */

@media (max-width: 667px) {
  .navbar_option ul {
    background: white;
    width: 100%;
    height: 200px;
    position: absolute;
    right: 0;
    flex-direction: column;
    align-items: center;
    transform: translateX(200%);
    gap: 10px;
    padding-top: 50px;
    transition: all 0.4s ease-out;
  }
  .navbar_option i {
    display: block;
    font-size: 25px;
  }

  #toggle-menu:checked + .navbar {
    transform: translateX(0);
  }
}
/* Estas son las queries para el hero  */

@media (max-width: 844px) {
  .hero__presentation {
    text-align: center;
    width: 100%;
    align-items: center;
    gap: 10px;
  }
  .hero__presentation h1 {
    font-size: 50px;
    align-items: center;
    justify-content: center;
  }

  .hero__presentation p {
    font-size: 20px;
  }

  #about {
    align-items: center;
    justify-content: center;
    text-align: center;
    
  }

  #about p {
    font-size: 18px;
  }
  #about p span {
    color: rgb(42, 231, 231);
    font-weight: 500;
    font-size: 20px;
  }
 
  .btn {
    width: 100%;
    padding: 5px 10px 5px 10px;
    font-weight: 600;
  }

  .app-next{
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .text-rigth {
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    
  }
  #app-next img {
    display: none;
  }
 
  .text-rigth h1 {
    font-size: 45px;
  }

  .text-rigth p {
    font-size: 18px;
  }
  .btn-app {
    padding: 5px 15px 5px 15px;
  }

  #offer {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

 

  .container__card {
    gap: 50px;
  }

  #bepart {
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  .info-let {
    align-items: center;
  }
  .info-let a {
    width: 100%;
    padding: auto;
  }
  .info-let p {
    font-size: 18px;
    font-weight: 500;
  }

  .img-rigth {
    display: none;
  }

  #subscribe {
    margin-top: 40px;
  }
  #subscribe h2 {
    font-size: 22px;
  }
  .sub__info input {
    flex-direction: column;
    width: 250px;
  }

  #accompany {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  #accompany h1 {
    font-size: 18px;
    text-align: center;
    
  }
  .accompany__cards img {
    width: 60%;
  }
}

/* Estas son las queries para el footer  */

@media (max-width: 844px) {
  .footer__info {
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .copyright {
    align-items: center;
    justify-content: center;
  }

  .copyright p {
    font-size: 12px;
  }
  .copyright hr {
    width: 50%;
  }
  .copyright b {
    color: black;
    font-weight: 500;
  }
}

/* Estas son las queries para el register */
@media (max-width: 844px) {
  .logo {
    width: 30%;
    height: 30%;
  }

  .register__container {
    display: none;
  }

  .container__register {
    width: 80%;
  }
}
/* Estas son las queries para el login */
@media (max-width: 844px) {
  .logo {
    width: 30%;
    height: 30%;
  }
  .generalInfo {
    flex-direction: column;
    align-items: center;
  }
  .rigthInfo {
    align-items: center;
    text-align: center;
  }
  .imag h3 {
    font-size: 20px;
  }
  .imag h3 span {
    font-size: 18px;
  }
  .imag img {
    width: 20%;
  }
  .container__login__info {
    gap: 10px;
  }
  .login--info {
    gap: 30px;
  }
}
